.heading {
  @include respond-to('tablet-min') {
    font-size: 2.1rem;
  }

  font-size: 1.5rem;
  text-align: center;

  &--h2 {
    @include respond-to('tablet-min') {
      font-size: 1.8rem;
    }
  }
}

.paragraph {
  @include respond-to('tablet-min') {
    font-size: 1.5rem;
  }

  font-size: 1.2rem;
  text-align: center;
}